.project{
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin: 70px auto;
}
.contiii{
    margin-bottom: 5px;
}
p.card-text{
    margin-bottom: 2px;
}
button{
    margin-top: 10px;
}

.card-body{
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title{
    font-family: poppins;
    text-align: center;
    font-weight: bold;
    color: #524751;
}
.card-img-top:hover{
scale: 1.5;
}
i.fa-bars{
    color: red;
}